/*
Primary colors for the application, from lightest to darkest:

color (purple):
#D3B1C2
#C197D2
#613659
#211522

gray scale:
#474747
#2E2E2E
#242424
*/

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #211522;
}

body {
    overflow-x: hidden;
}

/*<---- HEADER ---->*/
header {
    background-image: url('../img/loginBackground.jpg');
    background-color: #211522;
    color: #D3B1C2;
    border-bottom: 6px solid #613659;
    display: flex;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

logged-in-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.logout-form {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: flex-end; /* Align to the right */
    margin-right: 20px;
}

.logout-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.logout-btn img {
    width: auto;
    height: 50px;
    display: block;
    margin: 0 auto;
}

/*<---- NAVIGATION ---->*/
nav ul { /* All lists */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5em;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul ul { /* Inner list */
    background-color: #613659;
    box-shadow: 5px 5px 5px #211522;
    flex-direction: column;
    width: 180px;
    max-height: 400px;
    overflow-y: auto;
    position: absolute;
    visibility: hidden;
    left: 0;
    top: calc(100% + 6px);
    border-bottom-right-radius: 10px;
    transition: visibility 0s, opacity 0.5s linear;
    transition-delay: 0.2s;
}

nav ul li:hover ul {
    display: block;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

#collapsible-group-list li,
#collapsible-friend-list li,
nav a {
    color: #D3B1C2;
    text-decoration: none;
    display: block;
    padding: 0.5em;
}

nav a:hover {
    color: #C197D2;
}

.nav-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 100%;
}

.nav-icons img {
    height: 50px;
}

/*<---- FOOTER ---->*/

footer {
    background-color: #211522;
    color: #613659;
    border-top: 6px solid #613659;
    display: block;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer h4,
foother i {
    margin: 10px;
}

/*<---- VALIDATION ERROR MESSAGE BOX ---->*/
.flash_message {
    width: 300px; /* Adjust as needed */
    margin: auto; /* Center horizontally */
    padding: 20px;
    background-color: #D3B1C2;
    border: 1px solid #211522;
    border-radius: 5px;
    text-align: center; /* Center text */
    position: absolute; /* Position independently */
    top: 150px; /* Adjust top position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

/*<----  Starting pages styles (non-logged in user), login, signup and reclaim account ---->*/
#starting-pages {
    background-image: url("../img/loginBackground.jpg");
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.starting-pages-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    color: #D3B1C2;
}

.user-forms {
    width: 300px; /* Adjust as needed */
    padding: 20px;
    border: 1px solid #D3B1C2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.user-forms > input {
    margin: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f5e2eb;
}

.starting-pages-div a,
.starting-pages-div a:active {
    color: #D3B1C2;
}

.starting-pages-div a:hover {
    color: #613659;
}

.submit-button-user button {
    margin: 5px;
    width: 80px;
    height: 30px;
    color: #D3B1C2;
    border-radius: 3px;
    border: 1px solid #D3B1C2;
    background-color: #211522;
}

.submit-button-user button:hover {
    color: #211522;
    border: 1px solid #211522;
    background-color: #D3B1C2;
}

/*<---- LOGGED IN BODY ---->*/

#logged-in-pages {
    background: #2E2E2E;
}

/*<---- SCROLL-BAR CUSTOMIZATION ---->*/
/* Width */
::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #613659; /* color of the track */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #211522; /* color of the scroll thumb */
    border-radius: 10px; /* roundness of the scroll thumb */
}

/* Firefox-specific styles */
@-moz-document url-prefix() {
    /* Track and handle styles for Firefox */
    * {
        scrollbar-color: #211522 #613659; /* thumb and track color */
        scrollbar-width: thin; /* width of the scrollbar */
    }

    *::-moz-scrollbar-thumb {
        background: #211522; /* color of the scroll thumb */
        border-radius: 10px; /* roundness of the scroll thumb */
    }

    *::-moz-scrollbar-track {
        background: #613659; /* color of the track */
        border-radius: 10px; /* roundness of the scrollbar track */
    }
}

/*<---- MEDIA QUERIES ---->*/
@media (max-width: 600px) {
    nav ul.active {
        display: flex;
    }

    .nav-icons {
        margin-right: 5px;
    }

    .header-nav {
        position: relative;
    }

    nav ul ul {
        left: 0;
    }

    logged-in-box {
        display: none;
    }
}