/*<--------------------------- SETTINGS-PAGE -------------------------->*/
#settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

profile-selector {
  height: 200px;
  margin: 10px;
  margin-bottom: 20px;
}

#settings-container {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.settings-components {
  position: relative;
  overflow: hidden;
  border: 2px solid #242424;
  border-radius: 10px;
  max-height: 50px;
  height: auto;
  width: 30%;
  box-sizing: border-box;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  transition: max-height 1s ease-in-out, visibility 1s ease-in-out;
}

.settings-components h3 {
  display: flex;
  background-color: #211522;
  height: 40px;
  color: #D3B1C2;
  text-align: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.settings-components img {
  width: 25px;
  height: 25px;
}

.settings-components form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.settings-components delete-account,
.settings-components form {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.settings-components.expanded form,
.settings-components.expanded delete-account {
  visibility: visible;
}

.settings-components.expanded {
  max-height: 500px;
  visibility: visible;
}

#deleteAcc {
  align-items: center;
}
#deleteAcc h3 {
  width: 100%;
}

@media (max-width: 900px) {
    #settings-container {
      gap: 2px;
    }
}

@media (max-width: 600px) {
    #settings-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .settings-components {
        width: 90vw;
        height: max-content;
        margin-bottom: 20px;
    }
}