/*<-------------------------- FRIENDS-PAGE -------------------------->*/
#friends-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#search-and-reqs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#searchbox,
#friendReq-list,
#friend-list {
  position: relative;
  overflow: hidden;
  border: 2px solid #242424;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  align-items: center;
  transition: max-height 1s ease-in-out, visibility 1s ease-in-out;
  max-height: 41px;
}

#friendReq-list {
  justify-content: center;
}

#friend-list {
  max-height: 60vh;
  height: 60vh;
  overflow-y: auto;
}

#search-users,
#friend-reqs,
#friend-list-title {
  display: flex;
  background-color: #211522;
  height: 30px;
  width: 100%;
  color: #D3B1C2;
  text-align: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px;
  z-index: 1;
  position: sticky;
  top: 0;
}

#searchbox input {
  width: 30ch;
}

#searchbox > form,
#friendReq-table,
#friends-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  position: relative;
  overflow: hidden;
}

#searchbox.expanded > form {
  visibility: visible;
}

#searchbox.expanded,
#friendReq-list.expanded {
  max-height: 30vh;
  overflow-y: auto;
  visibility: visible;
}

#search-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-results,
#friendReq-table,
#friends-table {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
}

#search-table,
#friendReq-table > table,
#friends-table table {
  width: 100%;
}

#friends-table {
  max-height: 100%;
  justify-content: center;
  align-items: center;
}

#friends-table table {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  padding-right: 20px;
  flex: 1;
}

#friendReq-table {
  width: 95%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.search-profile,
.reqTable-list,
.friend-table-list {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-profile .search-username,
.reqTable-list .friend-username,
.friend-table-list .friend-username {
  margin-left: 10px;
  flex: 1 1 auto; /* Fill the remaining width */
}

.search-profile .search-add-btn,
.reqTable-list .friend-action,
.friend-table-list .friend-action {
  margin-right: 10px;
  flex: 0 0 auto; /* Maintain the min-content width */
}

.reqTable-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border-bottom: 2px solid #242424;
}


.friend-table-list {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #242424;
}

.friend-username > a {
  color: #D3B1C2;
  text-decoration: none;
}

.friend-username > a:active {
  text-decoration: none;
}

.friend-username > a:hover {
  color: #C197D2;
  text-decoration: none;
}

.friend-action {
  display: flex;
  flex-direction: row;
}

.friend-profile-img {
  flex: 0 0 auto; /* Maintain the min-content width */
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #D3B1C2;
  overflow: hidden;
}

.friend-profile-img img,
.dropdown-profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#search-table tr {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #242424;
}

.no-result {
  display: flex;
  align-items: center;
  justify-content: center;
}

#friendReq-list.gotRequests {
  border: 2px solid #4cbb4c;
}

.reqTable-list:last-of-type,
.friend-table-list:last-child,
#search-table tr:last-of-type {
  border-bottom: none;
}

@media (max-width: 600px) {
    /*<------ FRIENDS-PAGE ------>*/
    .friend-profile-img {
        width: 35px;
        height: 35px;
    }

    #friends-page {
        flex-direction: column;
    }

    #friend-list {
        max-height: 30vh;
        height: 100%;
    }

    #search-and-reqs {
        width: 100%;
    }

    #searchbox.expanded,
    #friendReq-list.expanded {
        max-height: 25vh;
    }
}
