<header class="header">

  <nav class="header-nav">
    <ul>
      <li id="friendsIcon" class="nav-icons"><img src="./img/friend-icon.svg" alt="Friends">
        <ul id="collapsible-friend-list">
          <li><a href="./addFriend">+ add friend</a></li>
          <!--- APPEND ALL FRIENDS --->
        </ul>
      </li>
      <li id="groupIcon" class="nav-icons"><img src="./img/group-icon.svg" alt="Groups">
        <ul id="collapsible-group-list">
          <li><a href="./createGroup">+ create Group</a></li>
          <!--- APPEND ALL GROUPS -->
        </ul>
      </li>
      <li id="settingsIcon" class="nav-icons"><img src="./img/settings-icon.svg" alt="Settings"></li>
    </ul>
  </nav>

  <logged-in-box name="<%= locals.user.username %>">
    <img slot="profile" src="./img/<%= locals.user.profileImg" alt="profile">
  </logged-in-box>

  <form class="logout-form" action="./logout" method="POST">
    <button class="logout-btn" type="submit"><img src="./img/logout-btn.svg" alt="Logout"></button>
  </form>
</header>
