<header class="header">

  <nav class="header-nav">
    <ul>
      <li id="friendsIcon" class="nav-icons"><img src="" alt="Friends">
        <ul id="collapsible-friend-list">
            <li><a href="./addFriend">+ add friend</a></li>
            <!--- APPEND ALL FRIENDS --->
        </ul>
      </li>
      <li id="groupIcon" class="nav-icons"><img src="" alt="Groups"></li>
      <li id="settingsIcon" class="nav-icons"><img src="" alt="Settings"></li>
    </ul>
  </nav>

  <!-- Implement a custom component for showing who is logged in -->
  
  <form class="logout-form" action="./logout" method="POST">
    <button class="logout-btn" type="submit">Logout</button>
  </form>
</header>
