<% if (locals.user) { %>
  <profile-selector>
    <img slot="profile1" src="./img/profiles/profile1.jpg" alt="img" current>
    <img slot="profile2" src="./img/profiles/profile2.jpg" alt="img">
    <img slot="profile3" src="./img/profiles/profile3.jpg" alt="img">
    <img slot="profile4" src="./img/profiles/profile4.jpg" alt="img">
    <img slot="profile5" src="./img/profiles/profile5.jpg" alt="img">
  </profile-selector>

  <div id="settings-container" class="hidden">
    <email-change></email-change>
    <password-change></password-change>
    <delete-account></delete-account>
  </div>
<% } %>
