<% if (locals.user) { %>
<profile-img></profile-img>

<div id="settings-container">
  <email-change></email-change>
  <password-change></password-change>
  <delete-account></delete-account>
</div>
<% } %>