<div>
  <form action="./login" method="POST">
    <input autocomplete="off" type="text" class="form-control" id="accountUsername" name="username" placeholder="Enter a username" required autofocus />
    <input autocomplete="off" type="text" class="form-control" id="accountPassword" name="password" placeholder="Enter a password" required autofocus />
    <div class="submit-button-user">
       <button type="submit">Login</button>
    </div>
  </form>
  <p><a href="./signup">Sign up here...</a> or <a href="./reclaim">forgot your password?</a></p>
</div>
