<% if (!locals.user) { %>
<div class="starting-pages-div">
  <h1>Welcome to chatterbox, a way to keep connected!</h1>
  <h3>Chat with friends and family online from wherever you are.</h3>
  <h2>Login</h2>
  <form action="./login" method="POST" class="user-forms">
    <input autocomplete="off" type="text" class="form-control" id="accountUsername" name="username" placeholder="Enter a username" required autofocus />
    <input autocomplete="off" type="password" class="form-control" id="accountPassword" name="password" placeholder="Enter a password" required autofocus />
    <label id="keepMeLogged"><input type="checkbox" class="form-control" name="stayLoggedIn"/>Keep me logged in!</label>
    <div class="submit-button-user">
      <button type="submit">Login</button>
    </div>
  </form>
  <p><a href="./signup">Sign up here...</a> or <a href="./reclaim">forgot your password?</a></p>
</div>
<% } %>