<% if (!locals.user) { %>
<div class="starting-pages-div">
  <h2>Sign-up!</h2>
  <p>Your email will only be used for recovering your account.</p>
  <form action="./signup" method="POST" class="user-forms">
    <input autocomplete="off" type="email" class="form-control" id="accountEmail" name="email" placeholder="Enter your email" required autofocus />
    <input autocomplete="off" type="text" class="form-control" id="accountUsername" name="username" placeholder="Enter a username" required autofocus />
    <input autocomplete="off" type="password" class="form-control" id="accountPassword" name="password" placeholder="Enter a password" required autofocus />
    <input autocomplete="off" type="password" class="form-control" id="accountPassword2" name="password2" placeholder="Repeat password" required autofocus />
    <i>By signing up you agree that you are 15 years or older</i>
    <div class="submit-button-user">
      <button type="submit">Sign up</button>
    </div>
  </form>
  <p><a href="./">Login...</a> or <a href="./reclaim">forgot your password?</a></p>
</div>
<% } %>